@use '../abstracts' as *;

/* forms */
.form {
  padding: 2rem 2.5rem;

  .form-group {
    @include flex(column, center, flex-start);
    gap: 0.5rem;
    padding-bottom: 1rem;

    .form-label {
      display: inline-block;
      margin-left: 1.5rem;
      font-size: $smallText;
      font-weight: 700;
      text-transform: capitalize;
      letter-spacing: $letterSpacing;
    }
    .form-input {
      width: 100%;
      padding: 0.75rem 1.5rem;
      border-radius: $borderRadius;
      background: $backgroundColor;
      border: 1px solid $grey-200;

      ::placeholder {
        font-family: inherit;
        color: $grey-400;
      }
    }
    .form-alert {
      color: $red-dark;
      letter-spacing: $letterSpacing;
      text-transform: capitalize;
      margin-left: 1.5rem;
      visibility: hidden;
    }

    &.success {
      .form-input {
        border-color: $green-dark;
      }
    }
    &.error {
      .form-input {
        border-color: $red-dark;
      }

      .form-alert {
        visibility: visible;
      }
    }
  }

  .btnFooter {
    @include flex(column, center, center);
    gap: 0.5rem;
  }
}
