@use '../abstracts' as *;

/* forms */
.form {
  width: 90vw;
  background: $white;
  padding: 2rem;
}
.form-label {
  display: block;
  margin-left: 1.5rem;
  font-size: $smallText;
  text-transform: capitalize;
  letter-spacing: $letterSpacing;
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border-radius: $borderRadius;
  background: $backgroundColor;
  border: 1px solid $grey-200;
}

.form-group {
  width: 100%;
  padding-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: $grey-400;
}
.form-alert {
  color: $red-dark;
  letter-spacing: $letterSpacing;
  text-transform: capitalize;
  margin-left: 1.5rem;
}
