@use '../abstracts' as *;

/* forms */
.form {
  width: 100%;
  background: $white;
  padding: 2rem;
}
.form-label {
  display: block;
  margin-left: 1.5rem;
  font-size: $smallText;
  text-transform: capitalize;
  letter-spacing: $letterSpacing;
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border-radius: $borderRadius;
  background: $backgroundColor;
  border: 1px solid $grey-200;
}

.form-group {
  width: 100%;
  padding-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: $grey-400;
}
.form-alert {
  color: $red-dark;
  letter-spacing: $letterSpacing;
  text-transform: capitalize;
  margin-left: 1.5rem;
}

.signUp {
  @include flex(column, center, center);
  gap: 1.5rem;

  .form-group {
    @include flex(column, center, flex-start);
    gap: 0.25rem;
  }

  .btnFooter {
    width: 100%;
    @include flex(column, center, center);
    gap: 0.5rem;

    .smallText {
      width: 100%;
      max-width: $fixedWidth;
    }
  }
}

.signIn {
  width: 100%;
  @include flex(column, center, flex-start);
  gap: 0.5rem;

  strong {
    width: 100%;
    display: block;
  }

  &__links {
    width: 100%;
    @include flex(row, center, center);
    gap: 0.625rem;

    span {
      width: 73px;
      height: 60px;
      background-color: salmon;
      @include grid(center);
    }
  }
}
