@use '../abstracts' as *;
.signUp {
  width: 100%;
  @include flex(column, center, flex-start);
  gap: 0.625rem;
  padding: 0 2.5rem;
  padding-bottom: 2rem;

  &__links {
    @include grid(center);
    align-self: center;
    padding: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    span {
      padding: 1rem;
      border: 1px solid #000;
      @include grid(center);

      i {
        background-color: #fff;
      }
    }
  }
}
