@use '../abstracts' as *;
@use './typo' as *;
@use '../components' as *;
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  max-width: 470px;
  @include flex(column, center, center);
  background-color: #fff;
  border-radius: $borderRadius-2;
  box-shadow: $shadow-4;

  .header {
    padding: 1.25rem 2.5rem;

    h1 {
      font-size: 26px;
      line-height: 32px;
      margin: 0;
      text-transform: initial;
    }
  }
}
