@use '../abstracts' as *;
@use './typo' as *;
@use '../components' as *;
*,
::after,
::before {
  box-sizing: border-box;
}
.container {
  width: 90%;
  min-height: 100vh;
  max-width: $maxWidth;
  @include grid(center);
}
